html
    head
        block styles
            link(rel='stylesheet' type='text/css' href='/css/style.css')
        block scripts
            script(type='text/javascript' src='https://code.jquery.com/jquery-3.7.0.min.js')
            script(type='text/javascript' src='/javascript/util.js')
            script(type='text/javascript' src='/javascript/database.js')
            script(type='text/javascript' src='/javascript/functions.js')
        title= title
    body
        div.content
            - var mercs = [ 'Scout', 'Soldier', 'Pyro', 'Demoman', 'Heavy', 'Engineer', 'Medic', 'Sniper', 'Spy' ];
            div#left-panel
                div#server-info
                    iframe(frameborder='0' scrolling='no' src='https://cache.gametracker.com/components/html0/?host=31.186.251.170:27015&bgColor=333333&fontColor=cccccc&titleBgColor=222222&titleColor=ff9900&borderColor=555555&linkColor=ffcc00&borderLinkColor=222222&showMap=1&currentPlayersHeight=200&showCurrPlayers=1&showTopPlayers=0&showBlogs=0&width=300')
                div#merc-select
                    for team, i in [ 'BLU', 'RED' ]
                        div
                            div.record-win-div(data-team=team)
                                button.record-win-button(data-team=team)= `+1 ${team} WIN`
                                button.decrement-win(data-team=team)= '-1'
                            div.merc-select-grid
                                each name, j in mercs
                                    if team == 'BLU'
                                        button.merc-select(data-blu-parent=j)= name
                                    else if team == 'RED'
                                        button.merc-select(data-red-parent=j)= name
            div#right-panel
                div#settings
                    div#overall
                        label(for='overall-checkbox') Overall:
                        input(type='checkbox' id='overall-checkbox')
                    div#map
                        select(id='select-map')
                        div
                            label(for='all-maps-checkbox') All maps:
                            input(type='checkbox' id='all-maps-checkbox' checked)
                        select(id='select-stage')
                        div
                            label(for='all-stages-checkbox') All stages:
                            input(type='checkbox' id='all-stages-checkbox' checked)
                    div#game-mode
                        select(id='select-game-mode')
                        div
                            label(for='all-game-modes-checkbox') All game modes:
                            input(type='checkbox' id='all-game-modes-checkbox' checked)
                    div= 'Games played in this configuration:'
                div#tracking-grid
                    table
                        //- Table columns
                        tr
                            th= 'Unselect'
                            for bluName, x in mercs
                                th.blu-matchup-header(data-blu-parent=x data-red-parent=null)= bluName
                        //- Table rows
                        for redName, y in mercs
                            tr
                                th.red-matchup-header(data-blu-parent=null data-red-parent=y)= redName
                                for _, x in mercs
                                    td(data-blu-parent=x data-red-parent=y)
